<div class="cognates">
<div class="cognate">
<span class="language">language 1</span>
<span class="lemma">lemma 1</span>
<span class="gloss">gloss 1</span>
</div>
<div class="cognate">
<span class="language">language 2</span>
<span class="lemma">lemma 2</span>
<span class="gloss">gloss 2</span>
</div>
</div>
