<div class="collocations">
<div class="collocation">
<div class="headwords">
<span class="headword">headword a.1</span>
<span class="headword">headword a.2</span>
</div>
<div class="pronunciations">
<span class="pronunciation">pronunciation a.1</span>
<span class="pronunciation">pronunciation a.2</span>
</div>
<div class="usage">
<div class="varieties">
<span class="variety">variety 1</span>
<span class="variety">variety 2</span>
</div>
<div class="registers">
<span class="register">register 1</span>
<span class="register">register 2</span>
</div>
<div class="domains">
<span class="domain">domain 1</span>
<span class="domain">domain 2</span>
</div>
</div>
<div class="definition">definition a</div>
<div class="translations">
<span class="translation">translation a.1</span>
<span class="translation">translation a.2</span>
</div>
<div class="senses">
<div class="sense">
<div class="translations">
<span class="translation">translation a.1.1</span>
<span class="translation">translation a.1.2</span>
</div>
</div>
<div class="sense">
<div class="translations">
<span class="translation">translation a.2.1</span>
<span class="translation">translation a.2.2</span>
</div>
</div>
</div>
</div>
<div class="collocation">
<div class="headwords">
<span class="headword">headword b.1</span>
</div>
<div class="translations">
<span class="translation">translation b.1</span>
</div>
</div>
</div>
