<div class="derivatives">
<a class="derivative" href="https://dictionary/search/derivative%201">derivative 1</a>
<a class="derivative" href="https://dictionary/search/derivative%202">derivative 2</a>
</div>
