<div class="entry">
<div class="headwords">
<span class="headword">headword 1</span>
<span class="headword">headword 2</span>
</div>
<div class="pronunciations">
<span class="pronunciation">pronunciation 1</span>
<span class="pronunciation">pronunciation 2</span>
</div>
<div class="categories">
<span class="category">category 1</span>
<span class="category">category 2</span>
</div>
<div class="forms">
<span class="form-label">form label 1</span>
<span class="form-label">form label 1.1</span>
<span class="form">form 1.1</span>
<span class="form-label">form label 1.2</span>
<span class="form">form 1.2</span>
<span class="form-label">form label 2</span>
<span class="form">form 2</span>
</div>
<div class="usage">
<div class="varieties">
<span class="variety">variety 1</span>
<span class="variety">variety 2</span>
</div>
<div class="registers">
<span class="register">register 1</span>
<span class="register">register 2</span>
</div>
<div class="domains">
<span class="domain">domain 1</span>
<span class="domain">domain 2</span>
</div>
</div>
<div class="definition">definition</div>
<div class="translations">
<span class="translation">translation 1</span>
<span class="translation">translation 2</span>
</div>
<div class="synonyms">
<a class="synonym" href="https://dictionary/search/synonym%201">synonym 1</a>
<a class="synonym" href="https://dictionary/search/synonym%202">synonym 2</a>
</div>
<div class="antonyms">
<a class="antonym" href="https://dictionary/search/antonym%201">antonym 1</a>
<a class="antonym" href="https://dictionary/search/antonym%202">antonym 2</a>
</div>
<div class="collocations">
<div class="collocation">
<div class="headwords">
<span class="headword">headword a.1</span>
<span class="headword">headword a.2</span>
</div>
<div class="pronunciations">
<span class="pronunciation">pronunciation a.1</span>
<span class="pronunciation">pronunciation a.2</span>
</div>
<div class="definition">definition a</div>
<div class="translations">
<span class="translation">translation a.1</span>
<span class="translation">translation a.2</span>
</div>
<div class="senses">
<div class="sense">
<div class="translations">
<span class="translation">translation a.1.1</span>
</div>
</div>
<div class="sense">
<div class="translations">
<span class="translation">translation a.2.1</span>
</div>
</div>
</div>
</div>
<div class="collocation">
<div class="headwords">
<span class="headword">headword b.1</span>
</div>
<div class="translations">
<span class="translation">translation b.1</span>
</div>
</div>
</div>
<div class="senses">
<div class="sense">
<div class="definition">definition 1</div>
<div class="translations">
<span class="translation">translation 1.1</span>
<span class="translation">translation 1.2</span>
</div>
<div class="senses">
<div class="sense">
<div class="definition">definition 1.1</div>
<div class="translations">
<span class="translation">translation 1.1.1</span>
</div>
</div>
<div class="sense">
<div class="definition">definition 1.2</div>
<div class="translations">
<span class="translation">translation 1.2.1</span>
</div>
</div>
</div>
</div>
<div class="sense">
<div class="definition">definition 2</div>
<div class="translations">
<span class="translation">translation 2.1</span>
<span class="translation">translation 2.2</span>
</div>
</div>
</div>
<div class="derivatives">
<a class="derivative" href="https://dictionary/search/derivative%201">derivative 1</a>
<a class="derivative" href="https://dictionary/search/derivative%202">derivative 2</a>
</div>
<div class="etymons">
<div class="etymon">
<span class="language">language 1</span>
<span class="lemma">lemma 1</span>
<span class="gloss">gloss 1</span>
</div>
<div class="etymon">
<span class="lemma">lemma 2</span>
</div>
</div>
<div class="sound_changes">
<span class="sound_change">sound change 1</span>
<span class="sound_change">sound change 2</span>
</div>
<div class="cognates">
<div class="cognate">
<span class="language">language 1</span>
<span class="lemma">lemma 1</span>
<span class="gloss">gloss 1</span>
</div>
<div class="cognate">
<span class="language">language 2</span>
<span class="lemma">lemma 2</span>
</div>
</div>
</div>
