<div class="senses">
<div class="sense">
<div class="usage">
<div class="varieties">
<span class="variety">variety 1.1</span>
<span class="variety">variety 1.2</span>
</div>
<div class="registers">
<span class="register">register 1.1</span>
<span class="register">register 1.2</span>
</div>
<div class="domains">
<span class="domain">domain 1.1</span>
<span class="domain">domain 1.2</span>
</div>
<span class="context">context 1</span>
</div>
<div class="definition">definition 1</div>
<div class="translations">
<span class="translation">translation 1.1</span>
<span class="translation">translation 1.2</span>
</div>
<div class="synonyms">
<a class="synonym" href="https://dictionary/search/synonym%201.1">synonym 1.1</a>
<a class="synonym" href="https://dictionary/search/synonym%201.2">synonym 1.2</a>
</div>
<div class="antonyms">
<a class="antonym" href="https://dictionary/search/antonym%201.1">antonym 1.1</a>
<a class="antonym" href="https://dictionary/search/antonym%201.2">antonym 1.2</a>
</div>
<div class="collocations">
<div class="collocation">
<div class="headwords">
<span class="headword">headword 1.a.1</span>
<span class="headword">headword 1.a.2</span>
</div>
<div class="pronunciations">
<span class="pronunciation">pronunciation 1.a.1</span>
<span class="pronunciation">pronunciation 1.a.2</span>
</div>
<div class="definition">definition 1.a</div>
<div class="translations">
<span class="translation">translation 1.a.1</span>
<span class="translation">translation 1.a.2</span>
</div>
<div class="senses">
<div class="sense">
<div class="translations">
<span class="translation">translation 1.a.1.1</span>
</div>
</div>
<div class="sense">
<div class="translations">
<span class="translation">translation 1.a.2.1</span>
</div>
</div>
</div>
</div>
<div class="collocation">
<div class="headwords">
<span class="headword">headword b.1</span>
</div>
<div class="translations">
<span class="translation">translation b.1</span>
</div>
</div>
</div>
<div class="senses">
<div class="sense">
<div class="definition">definition 1.1</div>
<div class="translations">
<span class="translation">translation 1.1.1</span>
</div>
</div>
<div class="sense">
<div class="definition">definition 1.2</div>
<div class="translations">
<span class="translation">translation 1.2.1</span>
</div>
</div>
</div>
</div>
<div class="sense">
<div class="definition">definition 2</div>
<div class="translations">
<span class="translation">translation 2.1</span>
<span class="translation">translation 2.2</span>
</div>
</div>
</div>
